<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ParallaxEffect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0D05F422041D4D7001A2FEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0D05F562041D4D8001A2FEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0D05F612041D4D8001A2FEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
